@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

:root {
  --chakra-colors-brand-50: #f0e4ff;
  --chakra-colors-brand-100: #cbb2ff;
  --chakra-colors-brand-200: #a67fff;
  --chakra-colors-brand-300: #804dff;
  --chakra-colors-brand-400: #5a1aff;
  --chakra-colors-brand-500: #4100e6;
  --chakra-colors-brand-600: #3200b4;
  --chakra-colors-brand-700: #230082;
  --chakra-colors-brand-800: #140051;
  --chakra-colors-brand-900: #070021;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a202c;
  color: white;
}

* {
  box-sizing: border-box;
}
